<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">   
	<!-- favicon for our site-->
	<link rel="icon" href="/images/favicon.png">
	
	<title>Tank Assault 2 Player</title>
	<link href="../styles/stylesheet1.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../styles/buttons.css">
	<script type="text/javascript" src="../js/jQuery.js"></script>
</head>

<body>
	<audio id="audiotank" src="../media/tank.mp3" preload="auto"></audio>
	<audio id="audiobullet" src="../media/bullet.mp3" preload="auto"></audio>
	<audio id="audioreload" src="../media/reload.mp3" preload="auto"></audio>

	<div id="wrapper">
		<header>
			<h1>Let's Battle...</h1>
			<nav>
     			<h2 id="menulink"><a href="#navlinks">Menu</a></h2>
      			<button class="button startGame" onclick="generate()">Start New Game</button>
				<button class="button reSetTank" onclick="reSetTank()">Respawn Tanks</button>
    		</nav>
		</header>
 		<div id="content">
 			
  			<canvas oncontextmenu="return false;" id="maze" width="800px" height="400px" style="border:1px solid #000000;"></canvas>
  			<script>
				// declare the maze height, width computed automatically
				var mazeHeight = 400;
				// load tank image
				var tank1image = new Image(),
					tank2image = new Image(),
					tank3image = new Image(),
					tank4image = new Image();
				tank1image.src = '/images/tank1.png';
				tank2image.src = '/images/tank2.png';
				tank3image.src = '/images/tank3.png';
				tank4image.src = '/images/tank4.png';
      
			</script>
			 
        </div>
   		
    	<!--<script type="text/javascript" src="js/menu.js"></script>-->
	</div>
	<div id="squeezed">
		<p> Please Don't Squeeze Me... </p>
		<footer>
   		 	<p>© Copyright 2016–20 &nbsp;IITD Dev. Club</p>
   		</footer>
	</div>
	<div id="player1score">
		<figure>
			<img src="../images/scoreTank1.jpg" alt="Player1" width="100">
		</figure>
		<h2>Score</h2>
		<canvas id="player1stats" width="100px" height="50px" ></canvas>
		<br><br>
		<h2>Bullets</h2>
		<canvas id="player1bullets" width="120px" height="50px" ></canvas>
		<p id="reload1">Let's Start</p>
	</div>
	<div id="player2score">
		<figure>
			<img src="../images/scoreTank2.jpg" alt="Player2" width="100">
		</figure>
		<h2>Score</h2>
		<canvas oncontextmenu="return false;" id="player2stats" width="100px" height="50px" ></canvas>
		<br><br>
		<h2>Bullets</h2>
		<canvas id="player2bullets" width="120px" height="50px"></canvas>
		<p id="reload2">Let's Start</p>
	</div>
	<div>
		<img src="../images/bullet.jpg" alt="" width="15" id="bullet" style="display: none">
		<img src="../images/bulletOver.jpg" alt="" id="bulletOver" height="50px" style="display: none">
	</div>

	<!--Life --><!--


	<div id="player1life">
		<canvas id="player1life" width="100px" height="50px" style="border:1px solid white;"></canvas>
	</div>
	<div id="player2life">
		<canvas oncontextmenu="return false;" id="player2life" width="100px" height="50px" style="border:1px solid white;"></canvas>
	</div>

	
	--><!--Life over-->
	<footer>
   		 	<p><span style="color:red">&#9829;&nbsp;&nbsp;</span>Brought to You By IITD Dev. Club</p>
   	</footer>
	<script src="../js/MazeGeneration.js" type="text/javascript"></script>
	<script src="../js/animation.js" type="text/javascript"></script>
	<script src="../js/LocalGame.js" type="text/javascript"></script>
	<script src="../js/LocalGamePlay.js" type="text/javascript"></script>
</body>
</html>
