<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
        
<!-- favicon for our site-->
<link rel="icon" href="/images/favicon.png">

<title>Tank Assault</title>
<link href="/styles/stylesheet1.css" rel="stylesheet" type="text/css">
<!--<script type="text/javascript" src="functions.js"></script>-->
</head>

<body>
	<p id='server-time'></p>
    <!--<script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var el = document.getElementById('server-time');

      socket.on('time', function(timeString) {
        el.innerHTML = 'Server time: ' + timeString;
      });
    </script>-->
	<div id="wrapper">
		<header>
			<h1>Tank Assault</h1>
			<nav>
     			<h2 id="menulink"><a href="#navlinks">Menu</a></h2>
      			<ul class="displayed" id="navlinks">
      			  <li><a href="/TankAssault/Player1.ejs">Multiplayer Game</a></li>
      			  <li><a href="/TankAssault/Player2.ejs">Beat your Friend</a></li>
      			</ul>
    		</nav>
		</header>
    <!--<script type="text/javascript" src="js/menu.js"></script>-->
    <img style="padding-top:20px;" id = 'gameI' src="../images/game.png" alt="Player1" width="600" height = "300">
	</div>
	
	<footer>
		<p><span style="color:red">&#9829;&nbsp;&nbsp;</span>Brought to You By IITD Dev. Club</p>
    </footer>
</body>
</html>
