<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon for our site-->
	<link rel="icon" href="/TankAssault/images/favicon.png">

	<title>Tank Assault 2 Player</title>
	<link href="/TankAssault/styles/stylesheet1.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/TankAssault/styles/buttons.css">
	<!--<script type="text/javascript" src="functions.js"></script>-->
</head>

<body style="background-image:url('/TankAssault/images/1.jpg'); background-size:cover;">
	<!-- <br><br> -->
	<div id="wrapper">
		<header>
			<h1>Finish your Opponent</h1>
			<nav id="container">
     			<h2 id="menuControls">Controls</h2>
     			<div id="player1">
					<h2> Player1 </h2>
					<h3> Move &amp; aim</h3>
					<button class="button up">Up</button>
     				<br>
					<button class="button left">Left</button>
					<button class="button down">Down</button>
					<button class="button right">Right</button>
       				<br><br>
					<h3>Shoot</h3>
					<button class="button kill">M</button>
					<br><br>
					<h3>Reload</h3>
					<button class="button save"> N</button>
					<br><br><br><br>
				</div>
       			<div id="player2">
					<h2>Player 2</h2>
					<h3> Move &amp; Aim</h3>
					<button class="button up">W</button>
     				<br>
					<button class="button left">A</button>
					<button class="button down">S</button>
					<button class="button right">D</button>
       				<br><br>
       				<h3>Shoot</h3>
					<button class="button kill">X</button>
					<br><br>
					<h3>Reload</h3>
					<button class="button save"> Z<br>
					</button>
					<br><br><br><br>
				</div>
				<!-- <div id="clear"></div> -->
            <!-- </nav> -->
		</header>
    	<!--<script type="text/javascript" src="js/menu.js"></script>-->
	</div>
	<form>
		<button class="button start" formaction="LocalPlay.ejs"><span><danger style="color:red; font-size:150%">&#9760;&nbsp;&nbsp;</danger>Let's Battle...<danger style="color:black;font-size:150%"> &nbsp;&#9762;</danger></span></button>
	</form>
	<!-- <br><br>
	<footer>
   		 <p><span style="color:red">&#9829;&nbsp;&nbsp;</span>Brought to You By IITD Dev. Club</p>
   	</footer> -->
</body>
</html>
